.detail-right{
    text-decoration: none;
    color: rgb(238, 233, 233);
    text-decoration: none;;
}
.detail-left{
    text-decoration: none;
    color: rgb(238, 233, 233);
}
.ir-al-carrito {
    padding: 10px 10px;
    margin-top: 10px;
    width: 100%;
    font-size: 14px;
    background-color:rgba(0, 0, 0, 0.323) ;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    text-decoration: none; 
}