.detail-right{
    text-decoration: none;
    color: rgb(238, 233, 233);
}
.detail-left{
    text-decoration: none;
    color: rgb(238, 233, 233);
}
.ir-al-carrito {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgba(54, 54, 55, 0.951);
    border-radius: 5px;
}