.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 200px;
}
.navbar {
    display: flex;
    flex-direction: row;
}
.img {
    height: 200px;
}
.btn-filter{
    padding: 10px 10px;
    margin-top: 10px;
    width: 100%;
    font-size: 14px;
    background-color:rgba(0, 0, 0, 0.323) ;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    text-decoration: none;  
}

.btn-logout{
    padding: 10px 10px;
    margin-top: 10px;
    width: 100%;
    font-size: 14px;
    background-color:rgba(0, 0, 0, 0.323) ;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    text-decoration: none;  
}
.btn-cart{
    padding: 10px 10px;
    margin-top: 10px;
    width: 100%;
    font-size: 14px;
    background-color:rgba(0, 0, 0, 0.323) ;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    text-decoration: none;  
}
@media screen and (max-width:790px){
    .header{
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
}